   <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-home"></i> Buat forums</div>
        <div class="panel-body">
        <div class="forums-post" v-if="showForums">
            <form class="col s12 m12 l12" >
             <i class="fa fa-times pull-right" v-on:click="showForums = false"></i>
              <div class="row">
                <div class="input-field">
                  <i class="mdi mdi-application prefix"></i>
                  <input id="judul_topik" type="text" v-model="judulTopik" class="validate" required>
                  <label for="judul_topik">Judul Topik</label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="textarea1" v-model="isiTopik" class="materialize-textarea" ></textarea>
                  <label for="textarea1">Post anda.</label>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div>
                      <div class="input-field">
                      <i class="mdi mdi-database prefix"></i>
                      <input type="text" id="kategori" name="kategori_topik" v-model="query" v-on:keyup="autoComplete" class="form-control">
                      <label for="kategori">Tags</label>
                      </div>
                      <div class="panel-footer" v-if="results.length">
                       <ul class="list-group">
                        <li class="list-group-item" v-for="result in results">
                         {{ result.nama_kategori }}
                        </li>
                       </ul>
                      </div>
                     </div>
                    </div>
                </div>
                <div class="switch pull-left">
                <label>
                  subcribe forum ?
                  <input type="checkbox" name="subscribe" id="subscribe">
                  <span class="lever"></span>
                </label>
              </div>
                <button class="btn btn-flat pull-right" @click="addForum(judulTopik,isiTopik)"> Create</button>
            </div>
            </form>
        </div>
        <div class='left'>
            <button class="btn-large blue darken-2" v-on:click="showForums = true" v-if="!showForums">Create Topics</button>
        </div>
    </div>
</div>
    </div>
