body {
  height: 1200px;
}
.tooltip {
  min-width: 50px;
  max-width: 00px;
}
.tooltip .tooltip-inner {
  min-width: 90px;
  max-width: 50px;
  min-height: 50px;
  text-align: center;
}
.container-viewport {
  position: absolute;
  top: 50px;
  right: 50px;
  left: 50px;
  height: 90px;
  background-color: #eee;
}
.btn-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
